
/*

!/.gitignore
!/.gitattributes
!/README.md
!/Loom.sln
!/Loom.Core/
!/Loom.Engine/
!/Loom.Providers/
!/Loom_documentation/

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/
.vs/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

*.tmp
*.log
*.pdb
*.ilk
*.cache
*.tlog
*.lastbuildstate
*.unsuccessfulbuild

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

_ReSharper*/
*.DotSettings.user
.idea/

[Tt]est[Rr]esult*/
*.coverage
*.coveragexml

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
